@import url(http://fonts.googleapis.com/css?family=Montaga|Raleway);

body {
    color: #000;
    background: #FFF;
    line-height:1.5;
    font-family: 'Montaga', serif;
    font-size: 14pt;
    text-align: center;
    font-weight: 100;
    display: block;
    margin: 50px 50px 50px 50px;
    width: 800px;
}

p {
    display: block;
    text-align: left;
}


p.lefttext {
    float: left;
    width:500px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 32pt; 
    text-align: center; 
    display: block;
    text-shadow: 2px 2px 2px #757575;
}

/*
  Color scheme:
  ---
  red         #de3a39
  light blue  #8ea9c9
  dark blue   #33548d
  light gray  #bbb
*/

/* General Styles */


img {
    margin: 20px 20px 20px 20px;
    display: block;
    /* box-shadow: 2px 2px 3px #888;*/
    padding: 5px 5px 5px 5px;
}

#headshot {
    float: left;
    width: 150px;
}

#votizen_logo {
    float: right;
    width: 100px;
}

#cal_logo {
    float: left;
    width: 100px;
}

#capitolix_logo {
    float: right;
    width: 150px;
}

#quickmint {
    float: right;
    width: 175px;
}

#usa_logo {
    float: right;
    width: 175px;
}

#potus {
    float: left;
    width: 200px;
    box-shadow:
}