<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lean Startup expert and consultant.  Helps organizations
    of all sizes develop sustainable business models.">
    <meta name="author" content="David E. Binetti">
    <meta name="copyright" content="&copy; 2013, David E. Binetti">
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="static/ico/favicon.ico">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
  </head>

  <body>

    <div class="header" id="header">
        <a href="/">David Binetti</a>
    </div>

     {{content}}

    <div class="footer" id="footer">
        &copy; 2013, David E. Binetti, All Rights Reserved
    </div>

    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>

  </body>
</html>
